<!DOCTYPE html>
<html>
<head>
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>   <!-- ✅ ADD THIS -->
<body>

<header>
    <h1 class="title">{{ product.name }}</h1>

    <div class="nav">
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/cart">Cart 🛍️ ({{ cart_count }})</a>
    </div>
</header>

<div class="detail">

    <img src="{{ url_for('static', filename=product.img) }}">

    <div>
        <h2>{{ product.name }}</h2>
        <p>{{ product.desc }}</p>
        <h3>₹{{ product.price }}</h3>
    </div>

</div>

</body>
</html>