<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class="header">
    <h1 class="title">📝 Create Account</h1>
</header>

<div class="login-box">

    <form method="POST">

        <input type="text" name="name" placeholder="Full Name" required>
        <input type="text" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>

        <button class="btn">Signup</button>

    </form>

    <p>Already have account? <a href="/login">Login</a></p>

</div>

</body>
</html>